<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://cdn.tailwindcss.com"></script>
    <title>Dehari</title>
</head>
<body>
    <nav >
        <div class="flex justify-between items-center">

            <span class="text-green-600 mx-4 font-bold text-2xl ">Dehari</span>
            <ul class="flex ">
                <li class="mx-4 my-2">About</li>
                <li class="mx-4 my-2">Home</li>
                <li class="mx-4 my-2">Contact Us</li>
                <li class="mx-4 my-2">Hello <%= user.username %></li>
                <a href="/users/signOut">
                    <button
                      class="rounded-full bg-emerald-400 text-white mx-2 my-2 px-4 py-1"
                      >
                      Sign Out
                    </button>
                </a>
            </ul>
            <div class="flex hidden">
                <button class="rounded-full bg-emerald-400 text-white mx-2 my-2 px-4 py-1">Login In</button>
                <button class="rounded-full bg-emerald-400 text-white mx-2 my-2 px-4 py-1">Sign Up</button>
                <button class="rounded-full bg-emerald-400 text-white mx-2 my-2 px-4 py-1">Sign Out</button>
                <button class="rounded-full bg-emerald-400 text-white mx-2 my-2 px-4 py-1"></button>
            </div>
            </div>
        </div>
        <hr class="w-full h-[2px] bg-green-600">
    </nav>

    <!-- cards -->
    <Section class="flex flex-col items-center justify-center h-screen">
        <!-- card  -->
        <div class="flex justify-center">

            <div class="m-4 h-[400px] bg-emerald-400 w-[400px] rounded-lg flex items-center flex-col justify-center">
                <a href="/ad/post" ><h1 class="text-white text-3xl font-bold mx-auto ">Post Ads</h1></a>
            </div>
            <!-- card  -->
            <div class="m-4 h-[400px] bg-emerald-400 w-[400px] rounded-lg flex items-center flex-col justify-center">
                <a href="/" ><h1 class="text-white text-3xl font-bold mx-auto ">View Ads</h1></a>
            </div>
        </div>
    </Section>

</body>
</html>