<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dehari</title>
  </head>
  <body>
    <nav>
      <div class="flex justify-between items-center">
        <span class="text-green-600 mx-4 font-bold text-2xl">Dehari</span>
        <ul class="flex hidden">
          <li class="mx-4 my-2">About</li>
          <li class="mx-4 my-2">Home</li>
          <li class="mx-4 my-2">Contact Us</li>
        </ul>
        <div class="flex">
          <button
            class="rounded-full bg-emerald-400 text-white mx-2 my-2 px-4 py-1"
          >
            Login In
          </button>
          <button
            class="rounded-full bg-emerald-400 text-white mx-2 my-2 px-4 py-1"
          >
            Sign Up
          </button>
        </div>
      </div>
      <hr class="w-full h-[2px] bg-green-600" />
    </nav>

    <!-- hero section  -->
    <section class="h-screen w-full flex flex-col items-center">
        <div class="text-6xl text-center text-emerald-400 mt-52">
            <h1>Paise <span class="text-yellow-400"> شات? </span></h1>
            <h1>Dehari Lagao!</h1>
        </div>
        <button class="bg-yellow-400 rounded-full px-4 py-2 text-brown-400 mt-10">Start Here</button>
    </section>
  </body>
</html>