<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Post Ad Page</title>
  <!-- Load Tailwind CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css">
</head>
<body class="bg-gradient-to-r from-green-400 via-teal-500 to-blue-500">
  <div class="min-h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-lg">
      <h1 class="text-3xl font-bold mb-4 text-center">Post Ad</h1>
      <form class="space-y-4" action="/ad/post" method="post">
        <div>
          <label class="block font-semibold text-gray-700 mb-2" for="title">Title</label>
          <input class="w-full border border-gray-300 p-2 rounded-lg" type="text" id="title" name="title" required>
        </div>
        <div>
          <label class="block font-semibold text-gray-700 mb-2" for="description">Description</label>
          <input class="w-full border border-gray-300 p-2 rounded-lg" type="text" id="description" name="description" required>
        </div>
        <div>
            <label class="block font-semibold text-gray-700 mb-2" for="price">Price</label>
            <input class="w-full border border-gray-300 p-2 rounded-lg" type="number" id="price" name="price" required>
          </div>
        <div>
          <button class="w-full bg-gradient-to-r from-green-400 via-teal-500 to-blue-500 text-white py-2 rounded-lg hover:bg-green-600 transition duration-300 ease-in-out">Post</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>