<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="flex justify-between items-center">
        <span class="text-green-600 mx-4 font-bold text-2xl">Dehari</span>
        <ul class="flex">
          <li class="mx-4 my-2">About</li>
          <li class="mx-4 my-2">Home</li>
          <li class="mx-4 my-2">Contact Us</li>

          <button
            class="rounded-full bg-emerald-400 text-white mx-2 my-2 px-4 py-1"
          >
            Sign Out
          </button>
        </ul>
      </div>
      <hr class="w-full h-[2px] bg-green-600" />
    </nav>
    <img class="absolute w-full top-0 h-80 -z-10" src="img/gradient.svg" alt="gradient">
    <div class="mt-52 mb-20 bg-white rounded-xl shadow-lg p-10 w-2/3 mx-auto">

        <img class="mx-auto w-32 h-32 -mt-24" src="img/profilePicPlaceholder.jpeg" alt="profilePicPlaceholder">
        <span class="m-2 font-bold text-2xl text-green-600 text-center block">Haider Zaidi</span>
        <h1 class="text-center">ratings...(to be made)</h1>

        <div class="flex justify-between mt-10">
            <button class="border-2 border-green-600 py-2 px-4 w-1/5">Bids</button>
            <button class="border-2 border-green-600 py-2 px-4 w-1/5">Current Orders</button>
            <button class="border-2 border-green-600 py-2 px-4 w-1/5">Offers I got</button>
            <button class="border-2 border-green-600 py-2 px-4 w-1/5">My Ads</button>
        </div>
        <hr class="bg-green-600 w-full h-[3px] my-2">
        <!-- about profile  -->
        <section class="mt-10 ">
            <h1 class="text-green-600 font-bold text-xl">About</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione rerum debitis distinctio expedita voluptates odit, aperiam et voluptatum perferendis, soluta aut molestias sequi mollitia? Nulla deleniti, repellat quo itaque in tempora corporis hic nesciunt voluptatem dolores ab dolore. Dolorem, qui neque vel a quaerat architecto ad numquam facilis voluptatum repellat!</p>
            <h1 class="text-green-600 font-bold text-xl">Skills</h1>
            <ul>
                <li>PhotoShop</li>
                <li>Illustrator</li>
                <li>SQL</li>
                <li>Database</li>
            </ul>
            <h1 class="text-green-600 font-bold text-xl">Certifications</h1>
            <ul>
                <li>PhotoShop - Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, dolore.</li>
                <li>Illustrator - Lorem ipsum, dolor sit amet consectetur adipisicing elit. In, sequi!</li>
                <li>SQL - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, optio!</li> 
            </ul>

            <button class="rounded-full bg-green-600 text-white py-2 px-4 mx-auto block mt-20">Edit Profile</button>
        </section>
    </div>


  </body>
</html>